registry=https://registry.npmmirror.com/
@tsign:registry=https://registry-npm.tsign.cn/
@esign:registry=https://registry-npm.tsign.cn/
@esign-ui:registry=https://registry-npm.tsign.cn/
@design:registry=https://registry-npm.tsign.cn/
@esign-design-info:registry=https://registry-npm.tsign.cn/
